<div class="container mx-auto">
  <div class="boxes pt-3">
    <div class="box-left-shadow"></div>
    <div class="box-right-shadow"></div>
    <ul class="box-items left pb-3 mb-0">
      <li class="box-item bg-light">
        <div class="box-item-number">4.8</div>
        <div class="box-item-title">
          Avis des clients
          <div>
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star-half.svg?color=%23FFD700"
              alt="Star Half"
              width="20"
            />
          </div>
        </div>
      </li>
      <li class="box-item bg-light">
        <div class="box-item-number">1200</div>
        <div class="box-item-title">
          Nombre d'avis
          <img
            src="https://api.iconify.design/mdi:comment.svg?color=%23000000"
            alt="Comment"
            width="50"
          />
        </div>
      </li>
      <li class="box-item bg-light">
        <div class="box-item-number">100</div>
        <div class="box-item-title">
          Avis récents
          <div>
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
            <img
              src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
              alt="Star"
              width="20"
            />
          </div>
        </div>
      </li>
      <li class="box-item bg-light">
        <div class="box-item-number">8</div>
        <div class="box-item-title">
          Avis négatifs
          <img
            src="https://api.iconify.design/mdi:thumb-down.svg?color=%23000000"
            alt="Thumb Down"
            width="100"
          />
        </div>
      </li>
    </ul>
  </div>

  <div class="boxes">
    <div class="box-left-shadow"></div>
    <div class="box-right-shadow"></div>
    <ul class="box-items right pb-3 mb-0">
      <li class="box-item bg-light">
        <div class="review-item">
          <div class="review-user">
            <strong>Lucas M.</strong>
            <div class="stars">
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star-half.svg?color=%23000000"
                alt="Star Half"
                width="20"
              />
            </div>
          </div>
          <p>
            "Excellente expérience ! La plateforme m'a permis de trouver des
            professionnels qualifiés pour mes projets vidéo. Très facile à
            utiliser."
          </p>
        </div>
      </li>
      <li class="box-item bg-light">
        <div class="review-item">
          <div class="review-user">
            <strong>Emma L.</strong>
            <div class="stars">
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
            </div>
          </div>
          <p>
            "Très satisfaite de la qualité des monteurs vidéo. Ils ont su
            comprendre mes besoins à la perfection, je recommande vivement !"
          </p>
        </div>
      </li>
      <li class="box-item bg-light">
        <div class="review-item">
          <div class="review-user">
            <strong>Alex P.</strong>
            <div class="stars">
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
            </div>
          </div>
          <p>
            "Un service parfait ! Grâce à Miniamaker, j'ai pu trouver des
            graphistes pour mes miniatures YouTube. Très professionnels et
            réactifs."
          </p>
        </div>
      </li>
      <li class="box-item bg-light">
        <div class="review-item">
          <div class="review-user">
            <strong>Chloé D.</strong>
            <div class="stars">
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
            </div>
          </div>
          <p>
            "J'ai trouvé des monteurs vidéo incroyables pour mes projets Reels.
            Service rapide et d'une grande qualité !"
          </p>
        </div>
      </li>
      <li class="box-item bg-light">
        <div class="review-item">
          <div class="review-user">
            <strong>Julien F.</strong>
            <div class="stars">
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
              <img
                src="https://api.iconify.design/mdi:star.svg?color=%23FFD700"
                alt="Star"
                width="20"
              />
            </div>
          </div>
          <p>
            "Une plateforme incroyable ! J'ai pu rapidement connecter avec des
            monteurs qualifiés et le résultat était top."
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
